body{
    background-color: black;
}

header{
    width: 80%;
    margin: auto;
    background-color: tomato;
    color: white;
    padding: 10px;
    box-sizing: border-box;
    
    
}
header >a{
    color: white;
    text-decoration: none;
    padding: 10px;
    margin: 0px 6px;

}
section{
    margin: auto;
    height: 500px;
    width: 80%;
    /* background-image: linear-gradient(to bottom, yellow,red); */
    background-color: rgba(108, 105, 105, 0.6);
    text-align: center;
    color: white;
    box-sizing: border-box;
    
}
section >h1{
    font-size: 20px;

}
section >img{
    width: inherit;
    height: 450px;
}
footer{
    margin: auto;
    height: 100px;
    width: 80%;
    background-color: rgba(41, 40, 40, 0.6);
    border: 3px solid rebeccapurple;
    text-align: center;
}
footer >a{
    color: white;
    text-decoration: none;
}
